:root{
    --primary-color: #01b500;
    --primary-color-dark: #000000;
    --secondary-color: #ffb200;
    --secondary-color-dark: #3C896D;
    --gray-color: #CCC;
    --gray-color-dark: #333;
}
