#main-menu{
    display: flex;
    justify-content: center; /* centra horizontalmente */
    width: 100%;
    text-transform: uppercase;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px var(--gray-color);
}

#main-menu > ul > li{
    float: left;
    margin: 10px 0;
}

#main-menu > ul > li a{
    color: white;
    padding: 10px 20px;
    font-size: 13px;
    border-right: 1px solid var(--gray-color);}
}

#main-menu > ul > li a:first-child {
    border-left: 1px solid var(--gray-color);
}

#main-menu > ul > li a:hover{
    background-color: var(--primary-color-dark);
}

#main-menu > ul > li > ul{
    display: none;
    position:absolute;
    margin-top: 10px;
}

#main-menu > ul > li > ul > li > a{
    display: block;
    color: white;
    background-color: var(--secondary-color);
    padding: 15px;
    font-size: 11px;
    border-top: 1px solid var(--gray-color);
}

#main-menu > ul > li > ul > li > a:hover{
    background-color: var(--secondary-color-dark);
}

#main-menu > ul > li:hover > ul{
    display: block;
    box-shadow: 2px 2px 5px var(--gray-color);
}

@media (max-width: 700px){

    #main-menu > ul > li{
        width: 100%;
        margin: 0;
        border-bottom: solid 1px var(--gray-color);
    }

    #main-menu > ul > li > a{
        text-align: center;
        display: block;
    }

    #main-menu > ul > li > ul{
        width: 100%;
    }

    #main-menu > ul > li > ul > li{
        text-align: center;
    }
}
