<section id="content">
    <h1>Estudios Oficiales</h1>

    <article>
        <h2>Diplomado en Informática</h2>
        <p>Diplomado en Informática por la Escuela Universitaria Politécnica de Albacete (Castilla La Mancha España).</p>
    </article>
    <article>
        <h2>Cursos de CiberSeguridad</h2>
        <p>Curso Básico de CiberSeguridad, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso de Análisis y Gestión de Riesgos de los Sist. de Información, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso de Gestión de CiberCrisis, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso de Navegación Segura, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso de Ransomware, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso de Seguridad de las TIC, por el Centro Criptológico Nacional (CCN), 30 h.</p>
        <p>Curso de Seguridad en Correo Electrónico, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso de Seguridad en Dispositivos Móviles, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Curso Nuevo Esuqema Nacional de Seguridad (ENS), por el Centro Criptológico Nacional (CCN), 20 h.</p>
        <p>Curso Básico STIC - Seguridad en Entornos Windows, por el Centro Criptológico Nacional (CCN), 15 h.</p>
        <p>Jornadas Descentralizadas del ENS, por el Centro Criptológico Nacional (CCN), 15 h.</p>
    </article>
    
    <article>
        <h2>Otros Cursos</h2>
        <p>Digitalización Aplicada al Sector Productivo, por el Ministerio de Educación y Formación Profesional. 30 h.</p>
        <p>Ofimática en la Nube: Google Drive, por el Grupo INSEM, 100 h.</p>
    </article>
    <article>
        <h2>Cursos de Iniciación</h2>
        <p>Curso de Informática, Iniciación, por la Universidad Nacional de Educación a Distancia (UNED). 42 h.</p>
        <p>Curso de Informática, COBOL, por la Universidad Nacional de Educación a Distancia (UNED). 42 h.</p>
        <p>Curso de Informática, Programación I, por la Universidad Nacional de Educación a Distancia (UNED). 42 h.</p>
    </article>
    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a>...</a></li>
        <li><a href="#">23</a></li>
    </ul>
</section>
