<section id="content">
    <h1>Estudios Oficiales</h1>

    <article>
        <h2>Diplomado en Informática</h2>
        <p>Diplomado en Informática por la Escuela Universitaria Politécnica de Albacete (Castilla La Mancha, España).</p>
    </article>
    <article>
        <h2>Cursos de CiberSeguridad por el Centro Criptológico Nacional (CCN)</h2>
        <p>Curso Básico de CiberSeguridad, 15 h.</p>
        <p>Curso de Análisis y Gestión de Riesgos de los Sist. de Información, 15 h.</p>
        <p>Curso de Gestión de CiberCrisis, 15 h.</p>
        <p>Curso de Navegación Segura, 15 h.</p>
        <p>Curso de Ransomware, 15 h.</p>
        <p>Curso de Seguridad de las TIC, 30 h.</p>
        <p>Curso de Seguridad en Correo Electrónico, 15 h.</p>
        <p>Curso de Seguridad en Dispositivos Móviles, 15 h.</p>
        <p>Curso Nuevo Esquema Nacional de Seguridad (ENS), 20 h.</p>
        <p>Curso Básico STIC - Seguridad en Entornos Windows, 15 h.</p>
        <p>Jornadas Descentralizadas del ENS, 15 h.</p>
    </article>
    
    <article>
        <h2>Otros Cursos</h2>
        <p>Digitalización Aplicada al Sector Productivo, por el Ministerio de Educación y Formación Profesional, 30 h.</p>
        <p>Ofimática en la Nube: Google Drive, por el Grupo INSEM, 100 h.</p>
    </article>
    <article>
        <h2>Cursos de Iniciación por la Universidad Nacional de Educación a Distancia (UNED)</h2>
        <p>Curso de Informática, Iniciación, 42 h.</p>
        <p>Curso de Informática, COBOL, 42 h.</p>
        <p>Curso de Informática, Programación I, 42 h.</p>
    </article>
<!--    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a>...</a></li>
        <li><a href="#">23</a></li>
    </ul>   -->
</section>
