<section id="content">
    <h1>Últimas Noticias</h1>

    <article>
        <h2>El Desarrollo Web no es más que copiar y pegar</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam quod odit ducimus officia quaerat nostrum consequuntur repellat voluptatem ex iste, corporis enim maxime id magni modi veniam praesentium. Sit.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>Cómo hacer un slider con HTML y CSS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam quod odit ducimus officia quaerat nostrum consequuntur repellat voluptatem ex iste, corporis enim maxime id magni modi veniam praesentium. Sit.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>¿Por qué HTML no es un lenguaje de programación?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam quod odit ducimus officia quaerat nostrum consequuntur repellat voluptatem ex iste, corporis enim maxime id magni modi veniam praesentium. Sit.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>Cómo poner la primera letra en mayúscula con CSS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam quod odit ducimus officia quaerat nostrum consequuntur repellat voluptatem ex iste, corporis enim maxime id magni modi veniam praesentium. Sit.</p>
        <a href="#">Leer más >></a>
    </article>

    <article>
        <h2>¿Qué es un lenguaje de marcado?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam quod odit ducimus officia quaerat nostrum consequuntur repellat voluptatem ex iste, corporis enim maxime id magni modi veniam praesentium. Sit.</p>
        <a href="#">Leer más >></a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a>...</a></li>
        <li><a href="#">23</a></li>
    </ul>
</section>