<section id="content">
    <h1>Trabajos</h1>

    <article>
        <h2>Técnico Informático, en la Diputación Provincial de Cuenca, España.</h2>
        <p>Colaboración en la Gestión y Administración de la Sede Electrónica.</p>
        <p>Mantenimiento de las Redes Informáticas y Telefónicas del Centro de Empresas.</p>
        <p>Asesoramiento a las empresas alojadas en el Centro de Empresas.</p>
    </article>
    <article>
        <h2>Profesor de Informática</h2>
        <p>Hospital Virgen de la Luz de Cuenca, España</p>
        <p>Academia MicroCuenca de Cuenca, España</p>
    </article>
</section>
