<nav id="main-menu">
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a>Noticias</a>
                <ul>
                    <li>
                        <a href="#">Desarrollo Web</a>
                    </li>
                    <li>
                        <a href="#">Programación</a>
                    </li>
                    <li>
                        <a href="#">Desarrollo Móvil</a>
                    </li>
                </ul>
        </li>
        <li>
            <a href ="blog.html">Blog</a>
        </li>
        <li>
            <a href="contacto.html">Contacto</a>
        </li>
    </ul>
</nav>